ingress:
  enabled: true
  hosts:
  - name: "sonarqube.{{ domain }}"
    path: /
  tls:
  - hosts:
    - "sonarqube.{{ domain }}"
    secretName: tls-cert
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    kubernetes.io/ingress.class: nginx
account:
  adminPassword: "{{ admin_password }}"
sonarProperties:
  sonar.core.serverBaseURL: "https://sonarqube.{{ domain }}"
  sonar.forceAuthentication: true
  sonar.auth.oidc.enabled: true
  sonar.auth.oidc.groupsSync: true
  sonar.auth.oidc.groupsSync.claimName: groups
  sonar.auth.oidc.scopes: openid,email,profile,groups
  sonar.auth.oidc.issuerUri: "https://keycloak.{{ domain }}/auth/realms/master"
  sonar.auth.oidc.clientId.secured: sonarqube
  sonar.auth.oidc.clientSecret.secured: "{{ oidc_client_secret }}"
  sonar.auth.oidc.iconPath: https://i.imgur.com/1KV4FZb.png
  sonar.auth.oidc.loginButtonText: Keycloak SSO
plugins:
  install:
  - https://github.com/vaulttec/sonar-auth-oidc/releases/download/v2.0.0/sonar-auth-oidc-plugin-2.0.0.jar
